input[type="text"], input[type="password"] { border: none; border-bottom: solid 1px #ccc; border-radius: 0; box-shadow: none; font-size: 18px; }

.title1 { font-size: 20px; margin: 15px 0; text-align: center; }
.msg1 { text-align: center; background: #f2dede; border: solid 1px #eed3d7; color: #b94a48; margin-top: 5px; padding: 4px 4px 4px 4px; }

.button1 { display: block; text-decoration: none !important; background: #0a5ca5; color: #fff !important; font-size: 24px; font-weight: bold; padding: 5px 20px; box-shadow: 0px 0px 10px #aaa; }
.button1:hover { opacity: 0.8; filter: alpha(opacity=80); }

.button2 { display: block; text-decoration: none !important; background: #f94141; color: #fff !important; font-size: 24px; font-weight: bold; padding: 5px 20px; box-shadow: 0px 0px 10px #aaa; }
.button2:hover { opacity: 0.8; filter: alpha(opacity=80); }

.button3 { display: block; text-decoration: none !important; background: #4fc3f7; color: #fff !important; font-size: 24px; font-weight: bold; padding: 5px 20px; border: none; box-shadow: 0px 0px 10px #aaa; }
.button3:hover { opacity: 0.8; filter: alpha(opacity=80); }

#wrap { width: 280px; margin: 0 auto; }
#login_facebook { margin-bottom: 15px; }
#btnLogin { width: 100%; margin: 5px 0; }