.title1 { font-size: 20px; margin: 15px 0; text-align: center; }
.msg { font-size: 20px; text-align: center; margin-top: 50px; }
.button1 {
    display: block;
	background: #3f67bf;
	color: #fff !important;
	width: 300px;
	height: 40px;
    line-height: 40px;
	font-family: thaisans_neueregular !important;
	font-size: 23px !important;
    text-decoration: none !important;
    margin: 10px auto;
}