input[type="text"], input[type="password"] { border: none; border-bottom: solid 1px #ccc; border-radius: 0; box-shadow: none; font-size: 18px; }

.title1 { font-size: 20px; margin: 15px 0; text-align: center; }
.box1 { overflow-y: auto; border: solid 1px #ccc; padding: 10px; }

.button3 { display: block; text-decoration: none !important; background: #4fc3f7; color: #fff !important; font-size: 24px; font-weight: bold; padding: 5px 20px; border: none; box-shadow: 0px 0px 10px #aaa; }
.button3:hover { opacity: 0.8; filter: alpha(opacity=80); }

#cond { height: 200px; margin: 10px 0; }
#btnRegister { width: 200px; margin: 0 auto; }

#img_list { margin: 10px 0 0 0; padding: 0; list-style: none; }
#img_list > li { float: left; margin-right: 10px; }
#img_list > li > img { border-radius: 50%; cursor: pointer; border: solid 1px transparent; }
#img_list > li > img.alt { border: solid 1px #f00; }