.nav-menu-top h5 {margin:0;margin-top:30px; color: #333;  }
.nav-menu-top h1{margin:0 ;font-weight:bold }
.nav-menu-top h4{margin:0 }
.nav-menu-bottom{background-color : #2aa70e ;   }
.header-title {color :  #606162 ;  }
.f-cmcoop, .f-cmcoop:HOVER, .f-cmcoop a, .f-cmcoop a:HOVER { color :  #606162  ; }
.news-tab .nav-tabs li.active a { color :  #2aa70e !important ;  }

ul.left-nav li{background-color : #2aa70e  ; display: block ; padding : 0px;margin-bottom : 3px;} 
ul.left-nav li a{  color :#FFF ; display:block; padding : 10px; overflow: hidden; } 
ul.left-nav li span.link {margin:0; color :#FFF ;}

ul.left-nav li a .fa{     font-size: 36px;
    position: absolute;
    right: 30px; }

#navbar ul   { margin : 0 ; padding : 0 ; list-style-type:none;display: block;text-align:center ; overflow:hidden;   }
#navbar ul li {   display:inline-block ; padding-bottom: 10px; padding-top: 10px; padding-right: 15px; }
#navbar ul li a{color :#FFF ; font-size: 22px; font-family: 'thaisans_neueregular'; }

.interest-block { background-color :#FFF ; border-bottom :none;  }
.interest-block ul {padding : 0px;}
.interest-block li { overflow:hidden ; font-size:18px;}
.interest-footer {background-color : #FFF ; }
.interest-block .interest-head { background-color :  #2aa70e ;  color :#FFF ;  }
.logo-desktop {max-width : 150px;} 

.news-2-list .item1 .title {height:40px; display: block;overflow:hidden ; margin-bottom : 15px;color :#333 ;  line-height : 20px; }
.logo-mobile {display:none;}
.subject {background : #66CC00 } 
.slide1 .slide1-pager .cycle-pager-active {color : #2aa70e } 
.news-list-2 a{ color :#333 } 
.news-list-2 .title1{height : 40px;display:block;overflow:hidden; } 

.search-box-1 {    
	
	padding: 20px;
    margin-top: 30px;
    background: #e0e0e0;
	
}
.search-box-1  .form-group {
	margin-bottom : 0px; 
	
}
@media (max-width: 768px)
{
#navbar{ }
.nav-menu-top h5 {margin-top : 0px;font-size:14px; } 
.nav-menu-top h1 {font-size:18px;   } 
.nav-menu-top h4{margin-top : 0px;font-size:14px;  } 
.logo-desktop {display:none; position:absolute ; top:10px; }

.logo-mobile {display:block;float:left;width:45px; margin-right : 10px; margin-top:7px;}
.toggle-nav-1{position:absolute;top:5px;right:0px;}
.icon-bar{background : #2aa70e  } 
.nav-menu-top{border-bottom: 1px solid #2aa70e ;  }

#navbar ul li {display:block;border-bottom:1px solid #FFF ; }
.navbar-toggle {border:1px solid #2aa70e ; }
}


@media (max-width: 480px){
 #navbar {background:#2aa70e ;}
}
.footer .footer-top{padding:20px 0 ;  } 
.footer .footer-bottom{background-color:#FFF ; padding:10px 0 ;   } 
.footer h4 {margin : 2px 0; color : #aaa }