/* Write your custom CSS here */
.cursor { cursor: pointer; }
.display-inline { display: inline-block; }

.col-small{
	display: -webkit-inline-box;
}
.col-small label,input {
	margin-right: 10px;
}
.col-small,.radio{min-height: 34px !important;}
.control-label_2{margin-top: 7px;}		

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.row{padding-bottom:5px;}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	margin-left: -9px;
}

.col-small-input-1{width: 60px;}
.col-small-input-2{width: 110px;}

