body { font-family: "Kanit", sans-serif; }
h5 { font-size: 15px; line-height: 1.538462; }

a { color: #07AD2D; }
a:focus, a:hover { color: #07AD2D; }

.color1 { color: #07AD2D; }
.color2 { color: #000; }

.navbar-default .navbar-header { background: rgb(7,173,45); background: linear-gradient(90deg, rgba(7,173,45,1) 0%, rgba(4,87,23,1) 100%); }
.navbar-default .sidenav-toggler .bar-line.in { background-color: #07AD2D; }
.navbar-default .sidenav-toggler.collapsed { background-color: #07AD2D; }
.navbar-default .navbar-account-btn:focus, .navbar-default .navbar-account-btn:hover { color: #07AD2D; }
.layout-sidebar { background-color: #fff; }
.layout-sidebar-backdrop { background-color: #fff; }
.sidenav-heading { color: #000; font-weight: bold; }
.sidenav > li > a { color: #333; }
.sidenav.level-1 > li.active > a { background-color: #fff; color: #a4a6c3; }
.sidenav.level-1 > li.active > a:hover { background-color: #f7f8fb; color: #07AD2D; border-left: solid 3px #07AD2D; }
.sidenav.level-1 > li.active > a::after { display: none; }
.sidenav.level-1 > li > a { border-left: solid 3px #fff; }
.sidenav.level-1 > li > a.active { background-color: #f7f8fb; color: #07AD2D; border-left: solid 3px #07AD2D; }
.sidenav .sidenav > li > a { background-color: #fff; }
.sidenav > li.hover > a, .sidenav > li:hover > a { background-color: #fff; color: #07AD2D; border-left: solid 3px #07AD2D; }
.navbar-brand { padding: 10px 15px; }
.navbar-brand-logo { height: 40px; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color: #07AD2D; }

.btn { -webkit-transition: none; -o-transition: none; transition: none; }
.btn-primary { background: rgb(7,173,45); background: linear-gradient(90deg, rgba(7,173,45,1) 0%, rgba(4,87,23,1) 100%); border-color: #07AD2D; }
.btn-primary:hover { background: #07AD2D; border-color: #07AD2D; }
.btn-primary.active, .btn-primary:active, .btn-primary:active:hover, .open > .btn-primary.dropdown-toggle { background-color: #045717; border-color: #045717; }

.custom-control-primary .custom-control-input:checked ~ .custom-control-indicator { background-color: #07AD2D; }

.breadcrumb { display: inline-block; margin: 0; padding: 4px 0; }
.breadcrumb > .breadcrumb-item > a { color: #cbcbd2; }
.breadcrumb > li + li::before { content: "/"; padding: 0 10px; }

.margin_0 { margin: 0; }
.margin_l0 { margin-left: 0; }
.margin_r0 { margin-right: 0; }
.margin_t0 { margin-top: 0; }
.margin_b0 { margin-bottom: 0; }
.padding_0 { padding: 0; }
.padding_l0 { padding-left: 0; }
.padding_r0 { padding-right: 0; }
.padding_t0 { padding-top: 0; }
.padding_b0 { padding-bottom: 0; }

.file-thumbnail .icon-wrap { position: absolute; left: 0; right: 0; top: 50%; margin-top: -25px; font-size: 50px; line-height: 50px; text-align: center; }
.file-info { font-size: 13px; line-height: 28px; }
.file-name { text-align: center; }
.file-link.active .file-thumbnail, .file-link:hover .file-thumbnail { background: rgb(7,173,45); background: linear-gradient(90deg, rgba(7,173,45,1) 0%, rgba(4,87,23,1) 100%); color: #fff; }

.ub_btn1 { border: solid 1px #ddd; color: #ddd; display: inline-block; width: 24px; height: 24px; line-height: 22px; border-radius: 50%; text-align: center; font-size: 14px; }
.ub_btn1:hover { border-color: #7d7d8e; color: #7d7d8e; text-decoration: none; }

.ub_table1 { background: none; border-collapse: separate; border-spacing: 0 5px; }
.ub_table1 > thead > tr > th { border: none; }
.ub_table1 > tbody > tr > td { border: none; background: #fff; }
.ub_table1 > tbody > tr > td:first-child { border-top-left-radius: 8px; border-bottom-left-radius: 8px !important; }
.ub_table1 > tbody > tr > td:last-child { border-top-right-radius: 8px; border-bottom-right-radius: 8px !important; }
.ub_table1.table-hover > tbody > tr:hover { background-color: transparent; }
.ub_table1.table-hover > tbody > tr:hover > td { background-color: #f5f5f5; cursor: pointer; }

.ub_table2 { background: none; border-collapse: separate; border-spacing: 0 5px; }
.ub_table2 > thead > tr > th { border: none; }
.ub_table2 > tbody > tr > td { border: none; background: #f7f8fb; }
.ub_table2 > tbody > tr > td:first-child { border-top-left-radius: 8px; border-bottom-left-radius: 8px !important; }
.ub_table2 > tbody > tr > td:last-child { border-top-right-radius: 8px; border-bottom-right-radius: 8px !important; }
.ub_table2.table-hover > tbody > tr:hover { background-color: transparent; }
.ub_table2.table-hover > tbody > tr:hover > td { background-color: #f5f5f5; cursor: pointer; }

.ub_tabs { margin-bottom: 0; background: none; }
.ub_tabs > li { border-left: none; }
.ub_tabs > li > a { color: #cbcbd2; }
.ub_tabs > li.active > a, .ub_tabs > li.active > a:focus, .ub_tabs > li.active > a:hover, .ub_tabs > li > a:hover { border-bottom: solid 3px #07AD2D !important; background: none; color: #595966; }