/* 
sass --watch css.scss:css.css
*/
@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

body {
  font-size: 14px;
  background-color: #F4F4F4;
}

ul {
  padding: 0px;
  margin: 0;
  list-style-type: none;
}

h1 {
  font-family: "Kanit", sans-serif;
}

h2 {
  font-family: "Kanit", sans-serif;
}

h3 {
  font-family: "Kanit", sans-serif;
}

h4 {
  font-family: "Kanit", sans-serif;
}

h5 {
  font-family: "Kanit", sans-serif;
}

h6 {
  font-family: "Kanit", sans-serif;
}

.btn-custom-1 {
  font-family: "Kanit", sans-serif;
  background-color: #167C3B;
  color: #FFFFFF;
  border-radius: 25px;
}

.section-header {
  /*overflow: hidden;*/
}

.section-header .header-top {
  background-color: #EFEFEF;
  padding-top: 4px;
  padding-bottom: 4px;
}
.section-header .header-top .contact {
  font-family: "Kanit", sans-serif;
  float: right;
}
.section-header .header-main {
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-header .header-main .col-logo-name img {
  max-width: 100%;
}
.section-header .header-main .col-login {
  text-align: right;
}
.section-header .header-main .col-login .btn-custom-1 {
  margin-top: 20px;
}
.section-header .header-menu {
  background-color: #EFEFEF;
}
.section-header .header-menu .navbar {
  padding: 0px;
  background-color: #EFEFEF !important;
  padding: 0px;
}
.section-header .header-menu .navbar .navbar-nav {
  margin: auto;
}
.section-header .header-menu .navbar .navbar-nav a.nav-link {
  font-size: 16px;
  color: #000000;
  padding-left: 12px;
  padding-right: 12px;
}
.section-header .header-menu .navbar .navbar-nav .nav-item .dropdown-menu {
  font-family: "Kanit", sans-serif;
  float: right;
  padding: 10px;
  min-width: 300px;
  font-size: 14px;
}
.section-header .header-menu .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding-top: 4px;
  padding-bottom: 4px;
}
.section-header .header-menu .dropdown:hover > .dropdown-menu {
  display: block;
  top: 35px;
}
.section-header .header-menu .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.section-header .header-menu .main-menu ul {
  font-family: "Kanit", sans-serif;
  float: left;
}
.section-header .header-menu .main-menu ul li {
  float: left;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-right: 40px;
}

.section-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
}
.section-footer h4 {
  color: #167C3B;
}
.section-footer .footer-main {
  padding-bottom: 15px;
}
.section-footer .footer-main .footer-content .title {
  color: #167C3B;
  margin-bottom: 20px;
}
.section-footer .footer-main .footer-content ul.list {
  font-family: "Kanit", sans-serif;
}
.section-footer .footer-main .footer-content ul.list a {
  color: #3D3D3D;
}
.section-footer .footer-main .footer-content ul.list li {
  margin-bottom: 8px;
}
.section-footer .footer-main .footer-social {
  font-family: "Kanit", sans-serif;
}
.section-footer .footer-main .footer-social .facebook-title {
  font-size: 14px;
  clear: both;
}
.section-footer .footer-main .footer-social .facebook-title img {
  max-width: 40px;
  margin-right: 10px;
}
.section-footer .footer-main .footer-social .line-qr {
  width: 50%;
  float: left;
}
.section-footer .footer-main .footer-social .line-qr .line-id {
  text-align: center;
}
.section-footer .footer-main .footer-social .application {
  width: 50%;
  float: left;
}
.section-footer .footer-main .footer-social .application .title {
  text-align: center;
  margin-bottom: 15px;
}
.section-footer .footer-main .footer-social .application .appstore {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.section-footer .footer-main .footer-social .application .appstore img {
  max-width: 100%;
}
.section-footer .footer-main .footer-social .application .googleplay {
  padding-left: 15px;
  padding-right: 15px;
}
.section-footer .footer-main .footer-social .application .googleplay img {
  max-width: 100%;
}
.section-footer .footer-bottom {
  font-family: "Kanit", sans-serif;
  line-height: 24px;
  text-align: center;
}
.section-footer .footer-bottom .footer-content {
  border-top: 1px solid #F1F1F1;
  padding-top: 20px;
}

.section-nav {
  padding-top: 20px;
}
.section-nav .nav-custom-1 {
  font-family: "Kanit", sans-serif;
  line-height: 24px;
}
.section-nav .nav-custom-1 .item {
  width: 33.3333333333%;
  float: left;
  height: 125px;
  background-color: #FFFFFF;
  border: 1px solid #F4F4F4;
  text-align: center;
  font-size: 16px;
}
.section-nav .nav-custom-1 .item a {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.section-nav .nav-custom-1 .item a img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 5px;
  height: 60px;
}
.section-nav .form-login {
  padding: 10px;
  background-color: #FFFFFF;
  height: 250px;
  border-radius: 4px;
}
.section-nav .form-login h4 {
  color: #167C3B;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 20px;
}
.section-nav .form-login form {
  text-align: center;
  margin-bottom: 15px;
}
.section-nav .form-login .register-1 {
  font-size: 16px;
  text-align: left;
  font-family: "Kanit", sans-serif;
}
.section-nav .form-login .register-1 a {
  color: #626262;
}
.section-nav .form-login .password-1 {
  font-size: 16px;
  text-align: right;
  font-family: "Kanit", sans-serif;
}
.section-nav .form-login .password-1 a {
  color: #626262;
}

.section-slide .carousel-indicators li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.section-main {
  padding-top: 15px;
}
.section-main .content-group .head-title {
  color: #167C3B;
}
.section-main .content-group .viewall-link {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 20px;
  float: right;
}
.section-main .content-group .title-1 {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: block;
}
.section-main .content-group-1 {
  margin-bottom: 20px;
}
.section-main .content-group-1 .content-item-custom-2 {
  overflow: hidden;
  height: 210px;
  margin-bottom: 10px;
}
.section-main .content-group-2 {
  margin-bottom: 20px;
}
.section-main .content-group-2 .content-item-custom-1 {
  overflow: hidden;
  height: 225px;
  margin-bottom: 10px;
}
.section-main .content-journal {
  margin-bottom: 20px;
}
.section-main .content-journal .content-journal-main {
  position: relative;
}
.section-main .content-journal .content-journal-main .journal-img {
  float: left;
  width: 60%;
}
.section-main .content-journal .content-journal-main .journal-title {
  padding-top: 70px;
  float: left;
  font-size: 14px;
  padding-left: 5px;
  width: 40%;
  font-family: "Kanit", sans-serif;
}
.section-main .content-journal .content-journal-main .journal-title a {
  color: #3E403F;
}
.section-main .board-group {
  margin-bottom: 20px;
}
.section-main .board-group h4 {
  color: #167C3B;
  text-align: center;
}
.section-main .board-group .chairman-block {
  margin-bottom: 15px;
}
.section-main .board-group .board-item {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  text-align: center;
}
.section-main .board-group .board-item .board-img img {
  border-radius: 100px;
  max-width: 150px;
  border: 8px solid #FFF;
}
.section-main .interest-group {
  margin-bottom: 20px;
  font-family: "Kanit", sans-serif;
}
.section-main .interest-group h4 {
  color: #167C3B;
  text-align: center;
}
.section-main .interest-group .interest-block {
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.section-main .interest-group .interest-block ul {
  color: #848484;
  font-size: 16px;
}
.section-main .interest-group .interest-block ul .left {
  float: left;
  max-width: 80%;
  text-align: left;
}
.section-main .interest-group .interest-block ul .right {
  float: right;
  max-width: 20%;
  text-align: right;
}
.section-main .interest-group .interest-block ul .interest-head {
  overflow: hidden;
  clear: both;
  color: #3C3A3A;
}
.section-main .interest-group .interest-block ul .interest-head .left {
  width: 50%;
}
.section-main .interest-group .interest-block ul .interest-head .right {
  width: 50%;
}
.section-main .interest-group .interest-block ul li {
  overflow: hidden;
  clear: both;
  border-bottom: 1px solid #ebeaea;
  padding-top: 8px;
  padding-bottom: 8px;
}
.section-main .interest-group .interest-block .interest-footer {
  text-align: center;
}

.section-main.content-page {
  padding-bottom: 20px;
}
.section-main.content-page .page-detail {
  position: relative;
  font-size: 14px;
  font-family: "Kanit", sans-serif;
}
.section-main.content-page .page-detail img {
  max-width: 100%;
}

.section-search {
  margin-top: -20px;
}
.section-search .form-search {
  background-color: #FFFFFF;
  width: 600px;
  border-radius: 100px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 6px;
  overflow: hidden;
  margin: auto;
}
.section-search .form-search input[type=text] {
  display: block;
  float: left;
  width: 450px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  border: 0px;
  margin-left: 15px;
  padding-top: 6px;
  outline: none;
}
.section-search .form-search .btn-search {
  display: block;
  float: right;
  font-size: 18px;
  width: 100px;
  font-family: "Kanit", sans-serif;
  background-color: #167C3B;
  color: #FFFFFF;
  border-radius: 25px;
}

.section-main.content-page {
  padding-bottom: 20px;
}

.section-main .contact-detail {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

.header-menu-mobile {
  display: none;
}

.btn-toggle-mobile {
  display: none;
}

.calculate-loan-form {
  font-family: "Kanit", sans-serif;
  font-family: 14px;
}
.calculate-loan-form .control-label {
  text-align: right;
  padding-top: 10px;
}
.calculate-loan-form .inline-block {
  display: inline-block;
}
.calculate-loan-form .row {
  margin-bottom: 5px;
}

/* OLD CSS */
.album-list .item {
  background-color: #EEE;
}

.album-list .item a {
  color: #333;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
}

.album-list .item .title {
  padding: 8px;
  height: 60px;
  line-height: 20px;
  overflow: hidden;
}

.album-picture-item .item {
  width: 25%;
  float: left;
}

.album-header-line {
  font-family: "Kanit", sans-serif;
  border-bottom: 1px solid #dbdbdb;
  color: #777677;
}

.album-header-line .item i {
  font-size: 18px;
}

.album-header-line .item {
  font-size: 20px;
  display: inline-block;
  margin-right: 20px;
}

.album-header-detail {
  padding: 20px 0;
}

.album-header-detail img {
  max-width: 100%;
}

.album-footer {
  border-top: 1px solid #dbdbdb;
}

.header-title {
  color: #5ac7f8;
}

.news-header-line {
  font-family: "Kanit", sans-serif;
  border-bottom: 1px solid #dbdbdb;
  color: #777677;
}

.news-header-line .item i {
  font-size: 16px;
}

.news-header-line .item {
  font-size: 16px;
  display: inline-block;
  margin-right: 20px;
}

.news-header-detail {
  padding: 20px 0;
}

.news-header-detail img {
  max-width: 100%;
}

.news-footer {
  border-top: 1px solid #dbdbdb;
}

.right-panel {
  margin-bottom: 10px;
}

.right-top-news {
  border: 1px solid #f4f4f4;
  padding: 10px;
}

.right-top-news h2 {
  margin-top: 10px;
}

.right-top-news .line {
  border-bottom: 3px solid #f7f7f7;
}

.right-top-news .list {
  padding-top: 20px;
}

.right-top-news .list .item {
  margin-bottom: 10px;
  /* color :#807f80 */
  /*  color : #CCC   */
  color: #666;
}

.right-top-news .list .item h5 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: normal;
}

.right-top-news .list .item h5 a {
  /* color: #838384; */
  color: #333;
}

.right-top-news .list .item h4 {
  font-size: 18px;
}

.right-top-news .list .item .item-image {
  padding-right: 0px;
}

.right-top-news .list .item .item-detail .viewcount {
  float: left;
  width: 50%;
}

.right-top-news .list .item .item-detail .shardcount {
  float: left;
  width: 50%;
}

.right-top-news .list .item .view {
  overflow: hidden;
}

.news-list .item {
  margin-bottom: 15px;
  color: #666;
}

.news-list .item .auther {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

.news-list .item h2 {
  margin: 0px 0;
  font-size: 30px;
  margin-bottom: 10px;
  color: #333;
}

.news-list .item h2 a {
  color: #333;
}

.news-list .item .group-detail {
  padding-top: 10px;
}

.right-album .image {
  padding: 5px;
  width: 33%;
  float: left;
}

.right-album .item .item-detail a {
  font-size: 16px;
}

.news-picture-item {
  padding-top: 20px;
}

.news-picture-item .item {
  width: 25%;
  float: left;
  padding: 5px;
}

.news-picture-item .item img {
  padding: 5px;
}

.row-share {
  border: 1px solid #E0E0E0;
}

.row-share .logo {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #FFF;
}

.count-social {
  font-size: 25px;
}

.row-share .row-share-item {
  padding: 0;
}

.num-share {
  font-size: 40px;
  line-height: 45px;
  color: #f04f02;
}

.shard-text {
  font-size: 20px;
  color: #ccc;
}

.btn-fb {
  background-color: #3b5998;
}

.btn-tw {
  background-color: #55acee;
}

.navbar .nav-link {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
}

.fancybox-skin {
  padding: 0 !important;
}

.fancybox-inner {
  height: auto !important;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .header-top {
    display: none;
  }

  .col-login .btn-custom-1 {
    display: none;
  }

  .section-nav .nav-custom-1 {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .section-nav .nav-custom-1 .item {
    width: 100%;
    height: auto;
  }
  .section-nav .nav-custom-1 .item a img {
    float: left;
    max-height: 25px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section-nav .nav-custom-1 .item a span {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    left: 60px;
    position: absolute;
  }

  .section-search {
    margin-top: -25px;
  }
  .section-search .form-search {
    max-width: 100%;
  }
  .section-search .form-search input[type=text] {
    width: 65%;
    margin-left: 10px;
  }
  .section-search .form-search .btn-search {
    width: 30%;
  }

  .section-slide .col-md-12 {
    padding: 0px;
  }

  .section-main .content-group-1 .content-item-custom-2 {
    height: auto;
  }
  .section-main .content-group-2 .content-item-custom-1 {
    height: auto;
  }
  .section-main .content-journal .content-journal-main {
    position: relative;
  }
  .section-main .content-journal .content-journal-main .journal-download {
    display: block;
    margin: auto;
    text-align: center;
  }
  .section-main .content-journal .content-journal-main .journal-download img {
    margin: auto;
  }
  .section-main .content-journal .content-journal-main .journal-img {
    width: 100%;
  }
  .section-main .content-journal .content-journal-main .journal-title {
    padding-top: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  .header-menu-mobile {
    display: block;
  }

  .btn-toggle-mobile {
    display: inline-block;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0px;
  }

  .calculate-loan-form {
    font-family: 16px;
  }
  .calculate-loan-form .control-label {
    text-align: left;
    margin-bottom: 4px;
  }
}
.cookie-info {
  font-family: "Kanit", sans-serif;
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 1.5;
  z-index: 999;
  padding-bottom: 15px;
  padding-top: 15px;
}
.cookie-info a {
  color: #FFEB3B;
  text-decoration: none;
}

.view-more-content {
  display: none;
}

/*# sourceMappingURL=css.css.map */
