body {
	font-family: "Helvetica Neue", Helvetica, tahoma, arial, 'lucida grande', sans-serif;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6, .modal-body { font-family: 'thaisans_neueregular'; }
h1 { font-size: 30px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }


a:hover{text-decoration:none;}

.pager .previous>a, .pager .previous>span 	{ margin-right: 3px; }
.pager .next>a, .pager .next>span 			{ margin-left: 3px; }

/*
 *  Material Light Blue 300 color code := 4fc3f7
 */

/*
 *	@ Button
 */

.icon-bar {background:#0a73c4}
.btn-material-light-blue-300.btn-flat:not(.btn-link) { color: #0a73c4; }
.btn-material-light-blue-300:not(.btn-link):not(.btn-flat) {
  background-color: #0a73c4;
  color: rgba(255, 255, 255, 1.0);
	color: #FFF;
}
.btn-material-light-blue-300:hover:not(.btn-link):not(.btn-flat) { background-color: #9eca5e; }
.btn-material-light-blue-300:active:not(.btn-link):not(.btn-flat) { background-color: #0a73c4; }
.btn-material-light-blue-300.active:not(.btn-link):not(.btn-flat) { background-color: #0a73c4; }
.btn-material-light-blue-300.btn-flat:hover:not(.btn-ink) { background-color: rgba(79, 195, 247, 0.2); }

.inline-block { display: inline-block; }

.cursor-pointer { cursor: pointer; }
/*
 *	@ Panel Material Style
 */
.panel {
  border-radius: 2px;
  border: 0;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.panel-material-light-blue-300 > .panel-heading {
  background-color: #0a73c4;
	color: #FFF;
}

.label-material-light-blue-300 { background-color: #0a73c4; }

.text-material-light-blue-300,
.text-material-light-blue-300:HOVER,
.text-material-light-blue-300 a,
.text-material-light-blue-300 a:HOVER { color: #0a73c4; }

.text-grey-50 { color: #FAFAFA; }
.text-grey-100 { color: #F5F5F5; }
.text-grey-200 { color: #EEEEEE; }
.text-grey-300 { color: #E0E0E0; }
.text-grey-400 { color: #BDBDBD; }
.text-grey-500 { color: #9E9E9E; }
.text-grey-600 { color: #757575; }
.text-grey-700 { color: #616161; }
.text-grey-800 { color: #424242; }
.text-grey-900 { color: #212121; }

.f-s-11 { font-size: 11px; }

.f-cmcoop,
.f-cmcoop:HOVER,
.f-cmcoop a,
.f-cmcoop a:HOVER { color: #0a73c4; }

.f-thin { font-weight: 400; }
.f-normal { font-weight: normal; }
.f-bold { font-weight: 600; }

.subject { background: #0a73c4; color: #fff; }
.subject .title { margin: 20px 0; font-size: 36px; }

.navbar {
		background-color: #FFF;
}
.navbar .navbar-top {
		text-align: right;
		background-color: #f2f2f2;
}
.navbar .navbar-top ul, .navbar .navbar-bottom ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
}
.navbar .navbar-top ul li, .navbar .navbar-bottom ul li {
		font-family: 'thaisans_neueregular';
		display: inline-block;
		font-size: 18px;
		margin-left: 8px;
}
.navbar .navbar-bottom ul li {
		font-size: 24px;
		margin-right: 3px;
}

.content-inner {
		/* padding-top: 190px; */
}
.footer {
		margin-top: 20px;
		background-color: #0073bc;
		color: #ffffff;
}
.footer ul {
		font-family: 'thaisans_neueregular';
		font-size: 20px;
		margin: 0px;
		color: #ffffff;
		padding-left: 20px;
}
.footer p {
		font-family: 'thaisans_neueregular';
		font-size: 20px;
		margin: 0px;
		color : #ffffff;
}
.footer h4 {
		font-size: 20px;
}

.footer h4{
	color : #ffffff
}

.footer-fa{
	background: #5f5f5f;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
	font-size: 22px;
}

.footer-fa-right{
    margin-top: -50px;
    padding-left: 50px;
    height: 50px;
    margin-bottom: -19px;
}

.footer-fa-right div{
	margin-bottom: -17px;
    margin-top: 7px
}

.footer-fa-right-2{
    margin-top: -37px;
    padding-left: 50px;
    height: 50px;
    margin-bottom: -28px;
}


.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #0a73c4;
}
@media (max-width: 480px) {
	.navbar h1 { font-size: large; }
	.navbar h4 { font-size: small; }
	#navbar {
			background-color: #0a73c4;
			color: #FFF;
	}
	#navbar ul li {
			display: block;
	}
}
/*
.navbar {
		position: fixed;
		right: 0px;
		left: 0px;
		background-color: #FFF;
		z-index: 999;
		border-bottom: 1px solid #e9e9e9;
}
*/
.footer a{ color : #ffffff }
.footer a:hover{text-decoration:none; }
.navbar a{ /* color: #838384; */ color : #333 }
.navbar a:hover{text-decoration:none; }

.add-on-container .clink {display:block ; overflow:hidden ; margin-bottom : 10px;}
.add-on-container .clink:hover{ text-decoration: none;}
.add-on-container .container  {padding-top : 30px ; border-top : 1px solid #e2e2e2 ;margin-top:30px; }
.add-on-container .clink  .cicon {
			display:block;
			float:left ;
			width:50px;
			height:50px;
			border-radius:25px;
			background-color:#0a73c4 ;
			font-size:25px;
			text-align:center ;
			vertical-align:middle ;
			line-height:50px;
			color :#FFF ;
			margin-right: 10px;

	}
.add-on-container .clink  .detail {
	/* color: #838384; */
	 color: #333 ;
	font-size: 25px;
	font-family: 'thaisans_neueregular';
	line-height: 25px;
}

.breadcrumb a.active { /* color : #838384 */ color : #333 }
.breadcrumb>li a{ /* color : #838384 */ color : #666  }
@media (min-width: 992px){
	.navbar .navbar-top ul, .navbar .navbar-bottom ul{padding : 0  35px ; }
}

/* FIX */

.header-title{color:#5ac7f8  }
.news-group-block{}
.news-group-block .list{margin-bottom:10px }
.news-group-block .item {  background-color: #f9f9f9; overflow: hidden; margin-bottom : 30px }
.news-group-block .item .item-image {   position: relative; }
.news-group-block .item .item-image .image-detail{     position: absolute; width: 100% ; height: auto ; }
.news-group-block .item .item-detail  {  padding : 5px 10px ; height : 155px; overflow : hidden ;   }
.news-group-block .item .item-detail .title a{    /* color: #838384; */  color: #333 ; }
.news-group-block .item .item-detail .detail {  /* color: #AAA ; */  color: #666 ;    }
.news-group-block .item .item-footer  {   height : 50px;;    }

.news-group-block .item-footer div{overflow:hidden; }
.news-group-block .item-footer .shard {float:left ; display:inline-block ; color :#6b6b6c ;   height: 30px; line-height: 30px; font-weight:bold ;   }
.news-group-block .item-footer .link {float:right ;  display:inline-block ; border-radius: 20px ;   height: 30px;  width: 30px;  text-align: center; vertical-align: middle; background-color : #c5d3dc ; line-height : 30px ; color :#FFF }




.news-tab .nav-tabs li.active a:before {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border-top: solid 10px #9a9a9a;
	border-left: solid 10px transparent;
	border-right: solid 10px transparent;
}

.news-tab .nav-tabs li.active a:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-top: solid 9px #FFF;
	border-left: solid 9px transparent;
	border-right: solid 9px transparent;


}

ul.left-nav {padding : 0  ;  list-style-type: none; color:#5ac7f8 ; ; }
ul.left-nav li{ padding : 5px 10px; margin-bottom : 0;   overflow: hidden; }
ul.left-nav li span.link{ font-size : 20px;  ; /* color : #666666 */ ; color : #333  ;   font-family: 'thaisans_neueregular'; display:inline-block ;  float: left;   margin-left: 15px; margin-top: 5px; }
ul.left-nav li span.box{ height : 45px ; width :45px; border-radius: 25px ;background-color : #e54398 ; display:inline-block ;   float: left; text-align:center  }
ul.left-nav li span.link:hover{text-decoration:none; }
ul.left-nav li span.box i{ font-size: 30px ; color : #FFF  ; line-height: 37px; ;  }

.staff-left{   }
.staff-left .staff-left-image .image{ padding: 10px  60px ; }
.staff-left .staff-left-image .image img{   border: 8px solid #e8e8e8;  margin: auto;   }
.staff-left .staff-left-image { background-color : #FFF  ;  }

.staff-left .staff-left-detail { background-color:#f9f9f9 ; border-bottom :5px solid #e8e8e8 ; padding: 5px; font-family: 'thaisans_neueregular'; font-size: 18px; font-weight: bold;  /* color: #838384 */ color: #333 ;border-radius : 5px }

.interest-block { background-color : #f9f9f9 ; font-family: 'thaisans_neueregular'; border-bottom :5px solid #e8e8e8 ; border-radius : 5px  }
.interest-block ul {padding : 0  ;  list-style-type: none; /* color :#777777 */ ; color : #333 ;  padding: 20px;  padding-top: 0;   padding-bottom: 0; }
.interest-block li {padding : 5px 0 ;  ;  list-style-type: none;  font-size:20px  ;   border-bottom: 1px solid #9a9a9a; }
.interest-block li .left{ float:left ;width:60%}
.interest-block li .right{ float:left  width:40% ; text-align :center }
.interest-block .interest-footer { padding : 5px ; text-align:center ;   font-size: 16px;}
.right-panel{margin-bottom: 10px}

.slide1 img{max-width:100% }
.slide1 .slide1-pager{
	text-align: center;
	font-size: 40px;
	color: #CCC;
	line-height: 20px;
}

.slide1 .slide1-pager span { cursor: pointer; }
.slide1 .slide1-pager .cycle-pager-active{
	color : #43b7f6 ;

}

.slide1 .slide2-pager span { cursor: pointer; }
.slide1 .slide2-pager .cycle-pager-active{
	color : #43b7f6 ;

}


.slide1 .news-list .block {position:relative }
.slide1 .news-list .block .image{position:relative }
.slide1 .news-list .block .background{bottom:0;position: absolute;width: 100%;height: 100%;background-image: url('/images/bg05.png');background-repeat: repeat-x;background-position:bottom }
.slide1 .news-list .block .link{bottom:0;position: absolute;width: 100%;color:#FFF ; font-size : 35px; padding: 0px 20px; font-family: 'thaisans_neueregular';padding-bottom:20px; text-decoration:none;line-height:30px; }


.news-list-2 ul {padding:0 ;list-style-type:none;margin-bottom : 20px;}
.news-list-2 ul li{margin-bottom : 3px;}
.news-list-2 ul li img{border : 1px solid #DDD }
.slide-full { /* background-color:#0a73c4; */ background-color : #ffffff   }
/* .slide-full .owl-wrapper{background-color:#0a73c4; overflow:hidden ;  } */

.news-list-3 > ul{color: #5f7c3a;font-size:20px;}

.slide-full .item{background-color:#5f7c3a; overflow:hidden ;}
.owl-wrapper-outer{overflow:hidden ;}
 .owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background:#0a73c4;
}

.slide-full .item{
	text-align:center;
	width: 100%;
	height:100%
}

.news-view-all {
	color : #333 ;font-size: 20px; font-family: 'thaisans_neueregular';
}

.addthis-show{width:100%;overflow:hidden;height:35px;display:none;padding-top:10px;padding-left:10px; }
.fix-shard {
	display:block  ;
	width : 100% ;
}
.at4-share-outer-right { display:none !important ; }


	.header-title{color:#5ac7f8 }
	.news-header-line{
		font-family: 'thaisans_neueregular';
		border-bottom : 1px solid #dbdbdb ;
		color : #777677 ;
	}
	.news-header-line .item i{ font-size : 18px ; }
	.news-header-line .item{
		font-size: 20px;
		display : inline-block ;
		margin-right:20px;
	}
	.news-header-detail{ padding : 20px 0 ; }
	.news-header-detail img {max-width: 100%}
	.news-footer {
		border-top : 1px solid #dbdbdb ;

	}
	.right-panel{margin-bottom: 10px}

	.right-top-news { border : 1px solid #f4f4f4 ;   padding: 10px; }
	.right-top-news h2 {  margin-top: 10px;  }
	.right-top-news .line {border-bottom : 3px solid #f7f7f7 }
	.right-top-news .list {padding-top: 20px;}
	.right-top-news .list .item {margin-bottom : 10px  ; /* color :#807f80 */ /*  color : #CCC   */  color : #666 }
	.right-top-news .list .item h5{margin : 0 ;margin-bottom : 10px;  font-size: 18px; }
	.right-top-news .list .item h5 a{ /* color: #838384; */ color:#333    }
	.right-top-news .list .item .item-detail .viewcount{ float:left ; width: 50% }
	.right-top-news .list .item .item-detail .shardcount{ float:left ; width: 50% }
	.right-top-news .list .item .view {overflow:hidden;}
	@media (min-width: 768px)
	{
		.item-detail.col-sm-8{padding-left:3px;}
	}
	.news-list .item{margin-bottom : 15px; color : #666 ; }
	.news-list .item .auther { font-family: 'thaisans_neueregular';  font-size : 20px;}
	.news-list .item h2{margin : 0px 0 ;  font-size: 30px; margin-bottom : 10px; color :#333 }
	.news-list .item h2 a{  color :#333 }
	.news-list .item .group-detail{padding-top: 10px; }


	.right-album .image{ padding : 5px; width: 33% ; float:left ;}

	.news-picture-item { padding-top: 20px; }
	.news-picture-item .item { width: 25% ; float:left;padding:5px; }
	.news-picture-item .item img {padding:5px;}

	.row-share { border: 1px solid #E0E0E0; }

	.row-share .logo {
		font-size:20px;
		padding-top: 5px;
		padding-bottom: 5px;
		cursor: pointer;
		color: #FFF;

	}
	.count-social {font-size : 25px}

	.row-share .row-share-item{padding:0}
	.num-share{  font-size: 40px; line-height: 45px; color:#f04f02 ; }
	.shard-text{ font-size : 20px ; color :#ccc}
	.btn-fb{ background-color : #3b5998 }
	.btn-tw{ background-color : #55acee }
	.btn-gp{ background-color : #dd4b39 }
	.header-title{color:#5ac7f8 }
	.album-list .item {background-color : #EEE }
	 .album-list .item a {color : #333 ;font-size:22px;font-family: 'thaisans_neueregular';  }
	 .album-list .item .title {padding : 8px; height:60px;line-height: 20px;    overflow: hidden;}
	 .album-picture-item .item { width : 25% ;  float:left }


	 .album-header-line{
		font-family: 'thaisans_neueregular';
		border-bottom : 1px solid #dbdbdb ;
		color : #777677 ;
	}
	.album-header-line .item i{ font-size : 18px ; }
	.album-header-line .item{
		font-size: 20px;
		display : inline-block ;
		margin-right:20px;
	}
	.album-header-detail{ padding : 20px 0 ; }
	.album-header-detail img {max-width: 100%}
	.album-footer {
		border-top : 1px solid #dbdbdb ;

	}
/*
html {
-moz-filter: grayscale(100%);
-webkit-filter: grayscale(100%);
filter: gray;
filter: grayscale(100%);
}
*/


.black-ribbon {   position: fixed;   z-index: 9999;   width: 70px; }
@media only all and (min-width: 768px) { .black-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }

.interest-box-right{
	background-color: #f2f2f2;
	padding: 5px;
	border: 1px solid #e0e0e0;
	font-family: 'thaisans_neueregular';
	font-size: 18px;
}

.title-menu-top{
	color: #0a73c4;
}
.title-menu-bottom{
	color: #b9b9b9;
}

.box-top1{
	background-color: #f2f2f2;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	padding: 25px 5px 25px 0px;
	font-family: 'thaisans_neueregular';
}

.box-top2{
	background-color: #ffffff;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	padding: 25px 5px 25px 0px;
	font-family: 'thaisans_neueregular';
}

.box-top2 a{
	color: #6d6d6d;
	font-weight: bold;
}

.box-top2 span.box{ height : 45px ; width :45px; border-radius: 25px ;background-color : #e54398 ; display:inline-block ;    text-align:center  }
.box-top2 span.box i{ font-size: 30px ; color : #FFF  ; line-height: 45px; ;  }


.box-top1 a{
	color: #6d6d6d;
	font-weight: bold;
}

.box-top1 i{
	color: #e54398;
}

.rcol{
	border-right: 1px solid #dbdbdb;
}

.mcol{
	border-bottom: 0px solid #dbdbdb;
}

@media (max-width: 768px)
{
	.rcol{
		border-right: 0px solid #dbdbdb !important;
	}

	.mcol{
		border-bottom: 1px solid #dbdbdb !important;
	}
}

/*start accordion-menu*/
.accordion-menu {
	width: 100%;
	margin: 60px auto 20px;
	background: #fff;
	border-radius: 4px;
	background: #eaeaea;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: 'thaisans_neueregular';
}
.accordion-menu li.open .dropdownlink {
	color: #212121;
}
.accordion-menu li.open .dropdownlink .fa-chevron-down {
	transform: rotate(180deg);
}
.accordion-menu li:last-child .dropdownlink {
	border-bottom: 0;
}
.dropdownlink {
	cursor: pointer;
	display: block;
	padding: 10px 10px 10px 15px;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
	color: #6d6d6d;
	position: relative;
	transition: all 0.4s ease-out;
	font-weight: bold;
	font-size: 20px;
}

.dropdownlink  i {
	float: right;
}

.dropdownlink i .fa-chevron-down {
	right: 12px;
	left: auto;
}

.submenuItems {
	display: none;
	background: #f9f9f9;
	list-style: none;
	padding: 0;
	margin: 0;
}

.submenuItems  li {
	border-bottom: 1px dashed#cccccc;
}

.submenuItems li {
	border-bottom: 1px dashed#cccccc;
}

.submenuItems a {
	display: block;
	color: #212121;
	padding: 7px 7px 7px 7px;
	transition: all 0.4s ease-out;
	font-size: 18px;
}
.submenuItems > li:hover > a {
	background-color: #ccc;
	color: #fff;
}

.CmpActionLogUser{
	color: #fff;
    height: 36px;
    background: linear-gradient(#000000, #585555, #000000);
    font-size: 24px;
    font-weight: bold;
    width: 24px;
    text-align: center;
    display: inline-block;
	margin-right: -7px;
}
.item1{
height: 350px;

}
/*end accordion-menu*/
.addthis-smartlayers{
 display:none;
}

