.nav-menu-top h5 {margin:0;margin-top:30px; color: #333;  }
.nav-menu-top h1{margin:0 ;font-weight:bold }
.nav-menu-top h4{margin:0 }
.nav-menu-bottom{background-color : #0a73c4 ;   }
.header-title {color :  #606162 ;  }
.nav-menu-top1{background-color: #f5f4f4;}
.f-cmcoop, .f-cmcoop:HOVER, .f-cmcoop a, .f-cmcoop a:HOVER { color :  #ffffff  ; }
.news-tab .nav-tabs li.active a { color :  #5f7c3a !important ;  }

ul.left-nav li{background-color : #5f7c3a  ; display: block ; padding : 0px;margin-bottom : 1px;border-bottom: 1px solid #fff;}
ul.left-nav li a{  color :#FFF ; display:block; padding : 10px; overflow: hidden; }
ul.left-nav li span.link {margin:0; color :#ffffff ;padding-left: 28px;padding-top: 2px;}

ul.left-nav li a .fa{
	/*font-size: 24px;
	position: absolute;
    left: 23px;
    margin-top: -10px;
    margin-right: -15px;
    width: 50px;
    height: 52px;
    text-align: center;
	padding-top: 15px;*/
	font-size: 32px;
    position: absolute;
    right: 28px;

}

.bg-plus-1{
    background: #e13d99 ;
}

#navbar > .menu-1 > ul   { margin : 0 ; padding : 0 ; list-style-type:none;display: block;text-align:left ; }
#navbar > .menu-1 > ul > li {   display:inline-block ; padding-bottom: 10px; padding-top: 10px;padding-right: 0px;  }
#navbar > .menu-1 > ul > li > a{color :#211d1d ; font-size: 22px; font-family: 'thaisans_neueregular';  padding: 8px 12px; display: block; line-height: 65px; border-radius: 5px; text-decoration: none;}
#navbar > .menu-1 > ul > li:hover > a { background-color :#548159 }
#navbar > .menu-1 > ul > li:hover .dropdown-menu{display:block }
.dropdown-menu { margin-top : 0px; }
#navbar ul {}


.interest-block { background-color :#FFF ; border-bottom :none;  }
.interest-block ul {padding : 0px;}
.interest-block li { overflow:hidden ; font-size:18px;}
.interest-footer {background-color : #FFF ; }
.interest-block .interest-head { background-color :  #5f7c3a ;  color :#FFF ;  }
.logo-desktop {max-width : 100px;}

.news-2-list .item1 .title {height:40px; display: block;overflow:hidden ; margin-bottom : 15px;color :#333 ;  line-height : 20px; }
.logo-mobile {display:none;}
.subject {background : #548159 }
.slide1 .slide1-pager .cycle-pager-active {color : #0a73c4 }
.slide1 .slide2-pager .cycle-pager-active {color : #0a73c4 }

.news-list-2 a{ color :#333 !important;font-size: 20px; font-family: 'thaisans_neueregular';}
.news-list-2 .title1{height : 40px;display:block;overflow:hidden; }
.news-list-3  > ul > li {margin-top: 5px; }
.news-list-3  > ul > li > a {margin-top: 5px;color: #333 !important; font-size: 20px; font-family: 'thaisans_neueregular';}
.search-box-1 {

	padding: 20px;
    margin-top: 0px;
    /*background: #e0e0e0;*/

}
.search-box-1  .form-group {
	margin-bottom : 0px;

}
.search-box-1 input{
	border: #fafafa;background: #fafafa;color: #cccaca;border-radius: 0px;padding-left: 32.5px;padding-right: 0 !important;font-family: 'thaisans_neueregular';font-size: 20px;
}
.search-box-1 span{
	color: #cccaca;left: 0;
}

@media (max-width: 768px)
{
#navbar{ }
.nav-menu-top h5 {margin-top : 0px;font-size:14px; }
.nav-menu-top h1 {font-size:18px;   }
.nav-menu-top h4{margin-top : 0px;font-size:13px;  }
.logo-desktop {display:none; position:absolute ; top:10px; }

.logo-mobile {display:block;float:left;width:60px; margin-right : 10px; margin-top:0px;}
.toggle-nav-1{position:absolute;top:5px;right:0px;}
.icon-bar{background : #0a73c4  }
.nav-menu-top{/*border-bottom: 1px solid #0a73c4 ;*/  }

#navbar > .menu-1 > ul > li {display:block;border-bottom:1px solid #FFF ;overflow: hidden;  }
#navbar > .menu-1 > ul > li .dropdown-menu {  width: 100%; background: transparent; position:relative ; }
#navbar > .menu-1 > ul > li .dropdown-menu  a{ color : #FFF ; }

#navbar > .menu-1 > ul > li .dropdown-menu  > li:hover a{ color :#000 ; }
.navbar-toggle {border:1px solid #0a73c4 ; }

.nav-tabs>li {
 	text-align:center ;
	display:block ;
	float:none;

 }
 .news-tab .nav-tabs li a { background-image : none !important ; }
}

@media (max-width: 480px){
 #navbar {background:#5f7c3a	 ;}
}
.footer .footer-top{padding:20px 0 ;  }
.footer .footer-bottom{background-color:#0066a7 ; padding:10px 0 ;   }
.footer h4 {margin : 2px 0; color : #ffffff }
