ul.dashboard-menu-top {
		list-style: none;
		font-size: 23px;
		line-height: 39px;
}
ul.dashboard-menu-top li { display: inline-block;margin-left: 13px; }
ul.dashboard-menu-top li a { color: #FFF; }
ul.dashboard-menu-top li a:HOVER { text-decoration: none; }

.panel.panel-material-light-blue-300 > .panel-heading .badget {
		position: relative;
		min-width: 100px;
		height: 56px;
}
.panel.panel-material-light-blue-300 > .panel-heading .badget h1 {
		position: absolute;
		top: -22px;
		right: 0px;
		margin: 0px;
		font-size: 65px;
		text-align: right;
}
.panel.panel-material-light-blue-300 > .panel-heading .badget h6 {
		position: absolute;
		bottom: 0px;
		right: 0px;
		font-size: 18px;
		margin: 0px;
		text-align: right;
}
.panel.panel-material-light-blue-300 > .panel-heading h3 {
		font-size: 2em;
		margin: 0px;
		line-height: 56px;
}
.panel.panel-material-light-blue-300 > .panel-heading h5 {
		font-size: 1.4em;
		margin: 0px;
		line-height: 28px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
		padding-left: 3px;
		padding-right: 3px;
}
.line-h-26 { line-height: 26px; }
#navbar, .top-search>form { display: none !important; }